@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf");
    format: "truetype";
     font-weight: 700;
     font-style: normal;
     font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
    format: "truetype";
     font-weight: 400;
     font-style: normal;
     font-display: swap;
}
  /* Reset */
*{
    margin: 0;
    padding: 0;
}
/* Estilo Desktop */
body{
    background-color: #0E1014;
    color: #FFFFFF;
}
header img{
    display: block;
    margin: 75px 0 0 360px;
}
h1{
    font-size: 65px;
    font-family: "Unbounded", sans-serif;
    text-align: center;
    margin-top: 60px;
}
h1 span{
    color:#9747FF;
}
p{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 24px auto 0;
    width: 792px;
}

a{
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 360px;
    height: 66px;
    line-height: 66px;
    display: block;
    border-radius: 36px;
    margin: 40px auto;
}
a:hover{
    background-color: #8233E8;
}
section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;

}
/* Tablet - 768 x 1102*/
 @media(max-width: 768px){
    header img{
        margin: 65px 0 0 60px;
    }
    p{
        width: 648px;
    }
}
/*  Mobile - 365 x 840  */
@media(max-width:365px){
    h1{
        font-size: 40px;

    }
    p{
        font-size: 20px;
        width: 320px;
    }
    a{
        font-size: 20px;
        width: 251px;
    }
    section img{
        width: 340px;
        height: 230px;
    }
}